@charset "UTF-8";

table{
	border-collapse: collapse;
}

table, td {
	border: 1px solid black;
}

td {
	padding: 10px;
}

div{
	background-color : lime;	
}

span{
	background-color : gray;
}

.testDiv{
	background-color: orange;
}
#testSpan{
	background-color: yellow;
}
